In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/home/tbrownex/NNscores.csv")

In [5]:
df

,L1,L2,L1activation,L2activation,batchSize,LR,StdDev,Dropout,optimizer,Loss,Accuracy
0,8,8,tanh,relu,32,0.001,0.25,0.3,Adam,0.188,0.940
1,8,8,tanh,relu,32,0.001,0.25,0.3,Adam,0.188,0.940
2,8,8,tanh,relu,32,0.001,0.25,0.3,Adam,0.192,0.937